$base-font-family: sans-serif;
$base-font-size:   16px;
$base-line-height: 1.6;

$text-color:       #111;
$background-color: #fefefe;
$brand-color:      #000000;

@charset "utf-8";
@import "base", "layout";
