$base-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$base-font-size:   1em;
$base-line-height: 1.25;

$text-color:       #111;
$background-color: #fefefe;
$brand-color:      #000000;

@charset "utf-8";
@import "base", "layout";
