$base-font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
$base-font-size:   1em;
$base-line-height: 2;

$text-color:       #111;
$background-color: #fefefe;
$brand-color:      #000000;

@charset "utf-8";
@import "base", "layout";
