body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 300;
    line-height: $base-line-height;
    display: flex;
    flex-direction: column;
    background: $background-color;
    color: $text-color;
    overflow-x: hidden;
}

a {
    color: $brand-color;

    &:visited {
        color: darken($brand-color, 15%);
    }
}

code {
    font-family: Monaco, "Lucida Console", Courier, monospace;
    font-weight: 100;
    font-size: 0.8em;
}

pre {
    margin: 1em;
}


@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #fff;
    }

    a {
        color:  lighten($brand-color, 80%);

        &:visited {
            color:  lighten($brand-color, 70%);
        }
    }
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
