.home {
    display: flex;

    .menu {
      flex: 1 7vw;
      padding: 1.6em 2em;
      line-height: 2;

      .item {
        list-style: none;
        text-transform: uppercase;
        a {
          text-decoration: none;
          font-size: 1em;
        }
      }
    }

    .content {
      width: calc(100% - 7vw);
      padding: 1em;
    }
}

.about {
  .topinfo {
    .social {
      width: 10em;
      text-align: center;
      font-family: monospace;
      list-style: none;
      line-height: 2;
      li {
        display: inline-block;
        zoom: 1;
        *display: inline;
      }
    }
  }

  .me {
    margin-top: 1em;
    line-height: 1;
    font-size: 3em;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  }

  .moreme {
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    margin-top: 0.5em;
  }

  .avatar {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
}

.center {
      display: flex;
      justify-content: center;
}

#map {
      height: 60em;
      width: 100%;
}

@media screen and (max-width: 500px) {
   .home {
      flex-direction: column;

      .content {
        padding: 1em;
      }

      .menu {
        padding: 1.6em 0em;

        .item {
          display: inline-block;
          zoom: 1;
          *display: inline;
          padding: 0 1em;
        }
      }
   }

  .about {
    .me {
      line-height: 1.2;
    }
  }
}
