.home {
    display: flex;

    .menu {
      flex: 1 7vw;
      padding: 1.6em 2em;
      line-height: 2;

      .item {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 1em;
        }
      }
    }

    .content {
      width: calc(100% - 7vw);
      padding: 1em;
    }
}

#map {
      height: 60em;
      width: 100%;
}

@media screen and (max-width: 500px) {
   .home {
      flex-direction: column;

      .content, .about {
        padding: 0 1em 0 1em;
      }

      .menu {
        padding: 1.6em 0em;

        .item {
          display: inline-block;
          zoom: 1;
          *display: inline;
          padding: 0 1em;
        }
      }
   }
}
